/* Document */
* {
    background-color:bisque;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-family: fantasy;
}
.image {
  height: 17vh;
  width: 13vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 30px;
}
/* Header */
.game-buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin: 10px;
}
/* Body */
.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.button {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.instructions {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}